body {
	font-family: calibri, sans-serif;
	margin: 0;
	padding: 0;
}

img.background{
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;
			
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
			
	/* Set up positioning A fixed element is positioned relative to the viewport, it always stays in the same place even if the page is scrolled. The top, right, bottom, and left properties are used.*/
	position: fixed;
	top: 0;
	left: 0;
}

#wrapper {
	width: 1024px;
	margin: 0 auto -4em;
	height: auto;
	height: 100%;
	
	position: relative;
	
	-moz-box-shadow: 0 0 20px black; 
	-webkit-box-shadow: 0 0 20px black; 
	box-shadow: 0 0 20px black;
}



/* header - acronym logo & logo*/
header {
	height: 100px;
}

/* nav - search box*/
input[type=search]{
	background: #ededed url (images/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 150px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

input[type=search]:focus{
	width: 130px;
	background-color: #fff;
	border-color: #6dcff6;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba (109,207,246,.5);
	box-shadow: 0 0 5px rgba (109,207,246,.5);
}

/* robots, vehicle, da vinci area setting */
article{
	float:left;
	width:1000px;
	margin: 0 .5em 0 .5em;
}

article ul {
	list-style: none;
	padding: 0;
}

article li{
	float:left;
	width:210px;
	height: auto;
	margin: 0 0 2em 0;
	border-right: 40px solid transparent;
	position:relative;
}

/* class setting for robots' first image to solve spacing issue*/
.imageissue{
	font-size: 90%;
	
}

/* label setting for text description on images */
article p{
	text-align: center;
	background-color: #bebebe;
	padding-top: .5em;
	padding-bottom: .5em;
	height: auto;
}


/* footer*/
footer{
	clear: both;
	border-color: #333;
	background-color: #333;
	margin-bottom: 0;
}

footer p{
	text-align: center;
	padding: .5em 1em;
	color: #ffffff;
}

footer a{
	text-decoration: none;
	color: #ffffff;
}

footer p a:hover{
	text-decoration: none;
	color: #C1607A;
}

/*for 500px or less*/
@media screen and (max-width:500px) {
	#wrapper{
		width:94%;
		height:auto;
	}
	
	header, footer {
		padding:1% 4%;
	}
	
	.aclogo{
		width:20%;
		float:left;
	}
	
	.logo{
		width:80%;
		height:80%;
		float:left;
		padding-top:2%;
	}

	/* showcase image 1 - Soviet Jet Train*/
	nav img.vehicle1{
	max-width:100%;
	height:auto;
	float:left;
	clear:both;
	margin: 0 .5em 0 .5em;
	}
	
	/* showcase image 2 - Fun Bi-Wheel Fun Car*/
	nav img.vehicle2{
		display:none;
	}
	
	/* search box */
	input[type=search]{
		float:left;
		clear:both;
		width: 50%;
		margin: 1em 5em 1em 7em;
	}
	
	input[type=search]:focus{
		width: 52%;
		margin: 1em 5em 1em 7em;
	}
	
	/* twitter feed removed */
	aside{
		display:none;
	}
	
	/* article elements - area and images setting on robots, da vinci, vehicle pages*/
	article{
		width:80%;
		height:auto;
		clear:both;
		float:left;
		padding:1% 4%;
		margin: 0 0 .5em 2em;
	}
	
	article ul li img{
		clear:both;
		float:left
		display: block;
		margin: 0 auto .5em;
	}

	article li p{
		clear:both;
		float:left
		display: block;
		margin: 0 auto 2em;
	}
	
}
	

